.app {
    img {
        width: 40px;
    }

    button {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    .form-control {
        border-width: 2px !important;
    }
}