.home {
    margin-top: 150px;

    img {
        width: 300px !important;
    }

    h1 {
        font-size: 52px;
        font-weight: 700;
    }

    p {
        font-size: 22px;
        font-weight: 500;
    }

    button {
        font-weight: bold;
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
}