.profile{
    .avatar{
        border-radius: 50%;
        width: 320px;
        height: 320px;
      }
    .right {
        float: right;
        width: 1200px;
        padding: 10px;
      }
    .left {
        float: left;
        width: 300px;
        padding: 10px;
    }
}